script(src='/javascripts/script.js')
#game
	.welcome
		h1 Snap!
		p Using Chrome, node, and web sockets to bring you real time snap
		p When you're ready to play click the button below to sign in with Facebook
	button.ready Go!
	