/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
html, body {
  height: 100%;
  min-height: 800px;
  width: 100%;
}

/* line 16, ../sass/style.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6))), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 80, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(80%, rgba(255, 255, 255, 0))), url('/images/green-felt.jpg?1325443471') repeat;
  background: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), -webkit-radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%), url('/images/green-felt.jpg?1325443471') repeat;
  background: -moz-linear-gradient(top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), -moz-radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%), url('/images/green-felt.jpg?1325443471') repeat;
  background: -o-linear-gradient(top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), -o-radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%), url('/images/green-felt.jpg?1325443471') repeat;
  background: -ms-linear-gradient(top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), -ms-radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%), url('/images/green-felt.jpg?1325443471') repeat;
  background: linear-gradient(top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%), url('/images/green-felt.jpg?1325443471') repeat;
}

/* line 24, ../sass/style.scss */
a {
  color: #00B7FF;
}

/* line 28, ../sass/style.scss */
#game {
  display: inline;
  float: left;
  margin-right: 9px;
  margin-right: 0;
  width: 100%;
  min-width: 584px;
  height: 100%;
  min-height: 800px;
  position: relative;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #game {
  overflow-x: hidden;
}
/* line 37, ../sass/style.scss */
#game .loading {
  display: block;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  position: absolute;
}
/* line 43, ../sass/style.scss */
#game .loading h1 {
  font-size: 5em;
  color: white;
}
/* line 50, ../sass/style.scss */
#game .back, #game .card, #game .packEl {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 1px solid #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 59, ../sass/style.scss */
#game .back, #game .packEl {
  background-image: -webkit-gradient(radial, 0 0, 0, 0 0, 16, color-stop(12%, #000000), color-stop(16%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 8px 8px, 0, 8px 8px, 16, color-stop(15%, #000000), color-stop(16%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 0 1px, 0, 0 1px, 20, color-stop(15%, rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 8px 9px, 0, 8px 9px, 20, color-stop(15%, rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(0, 0, 0, 0)));
  background-image: -webkit-radial-gradient(0 0, #000000 12%, rgba(0, 0, 0, 0) 16%), -webkit-radial-gradient(8px 8px, #000000 15%, rgba(0, 0, 0, 0) 16%), -webkit-radial-gradient(0 1px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%), -webkit-radial-gradient(8px 9px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%);
  background-image: -moz-radial-gradient(0 0, #000000 12%, rgba(0, 0, 0, 0) 16%), -moz-radial-gradient(8px 8px, #000000 15%, rgba(0, 0, 0, 0) 16%), -moz-radial-gradient(0 1px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%), -moz-radial-gradient(8px 9px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%);
  background-image: -o-radial-gradient(0 0, #000000 12%, rgba(0, 0, 0, 0) 16%), -o-radial-gradient(8px 8px, #000000 15%, rgba(0, 0, 0, 0) 16%), -o-radial-gradient(0 1px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%), -o-radial-gradient(8px 9px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%);
  background-image: -ms-radial-gradient(0 0, #000000 12%, rgba(0, 0, 0, 0) 16%), -ms-radial-gradient(8px 8px, #000000 15%, rgba(0, 0, 0, 0) 16%), -ms-radial-gradient(0 1px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%), -ms-radial-gradient(8px 9px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%);
  background-image: radial-gradient(0 0, #000000 12%, rgba(0, 0, 0, 0) 16%), radial-gradient(8px 8px, #000000 15%, rgba(0, 0, 0, 0) 16%), radial-gradient(0 1px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%), radial-gradient(8px 9px, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%);
  background-color: #282828;
  background-size: 16px 16px;
  background-color: #282828;
  background-size: 16px 16px;
}
/* line 73, ../sass/style.scss */
#game .pack {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 300px;
  height: 500px;
  top: 0;
  left: 0;
}
/* line 81, ../sass/style.scss */
#game .pack .packEl:nth-last-child(1) {
  left: 8px;
  top: 8px;
  z-index: 1;
  -moz-box-shadow: black 0px 0px 10px 1px;
  -webkit-box-shadow: black 0px 0px 10px 1px;
  -o-box-shadow: black 0px 0px 10px 1px;
  box-shadow: black 0px 0px 10px 1px;
}
/* line 87, ../sass/style.scss */
#game .pack .packEl:nth-last-child(2) {
  left: 6px;
  top: 6px;
  z-index: 2;
}
/* line 92, ../sass/style.scss */
#game .pack .packEl:nth-last-child(3) {
  left: 4px;
  top: 4px;
  z-index: 3;
}
/* line 97, ../sass/style.scss */
#game .pack .packEl:nth-last-child(4) {
  left: 2px;
  top: 2px;
  z-index: 4;
}

@-webkit-keyframes spinIn {
  /* line 107, ../sass/style.scss */
  0% {
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

@-moz-keyframes spinIn {
  /* line 107, ../sass/style.scss */
  0% {
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

@-ms-keyframes spinIn {
  /* line 107, ../sass/style.scss */
  0% {
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

@-webkit-keyframes flipIn {
  /* line 116, ../sass/style.scss */
  0%,15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /* line 119, ../sass/style.scss */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@-moz-keyframes flipIn {
  /* line 116, ../sass/style.scss */
  0%,15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /* line 119, ../sass/style.scss */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@-ms-keyframes flipIn {
  /* line 116, ../sass/style.scss */
  0%,15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /* line 119, ../sass/style.scss */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

/* line 143, ../sass/style.scss */
.cardContainerX {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-animation: spinIn 2s;
  -moz-animation: spinIn 2s;
  -ms-animation: spinIn 2s;
  position: absolute;
  width: 300px;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -150px;
}
/* line 158, ../sass/style.scss */
.cardContainerX:nth-child(1n) {
  -moz-transform: rotate(-345deg);
  -webkit-transform: rotate(-345deg);
  -o-transform: rotate(-345deg);
  -ms-transform: rotate(-345deg);
  transform: rotate(-345deg);
}
/* line 161, ../sass/style.scss */
.cardContainerX:nth-child(2n) {
  -moz-transform: rotate(-350deg);
  -webkit-transform: rotate(-350deg);
  -o-transform: rotate(-350deg);
  -ms-transform: rotate(-350deg);
  transform: rotate(-350deg);
}
/* line 164, ../sass/style.scss */
.cardContainerX:nth-child(3n) {
  -moz-transform: rotate(-370deg);
  -webkit-transform: rotate(-370deg);
  -o-transform: rotate(-370deg);
  -ms-transform: rotate(-370deg);
  transform: rotate(-370deg);
}
/* line 167, ../sass/style.scss */
.cardContainerX:nth-child(4n) {
  -moz-transform: rotate(-375deg);
  -webkit-transform: rotate(-375deg);
  -o-transform: rotate(-375deg);
  -ms-transform: rotate(-375deg);
  transform: rotate(-375deg);
}
/* line 172, ../sass/style.scss */
.cardContainerX:nth-last-child(1) .card, .cardContainerX:nth-last-child(2) .card, .cardContainerX:nth-last-child(3) .card {
  -moz-box-shadow: black 0px 0px 10px 1px;
  -webkit-box-shadow: black 0px 0px 10px 1px;
  -o-box-shadow: black 0px 0px 10px 1px;
  box-shadow: black 0px 0px 10px 1px;
}

/* line 178, ../sass/style.scss */
.cardContainerY {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-animation: flipIn 1s;
  -moz-animation: flipIn 1s;
  -ms-animation: flipIn 1s;
  transform-style: preserve-3d;
  position: absolute;
  width: 300px;
  height: 500px;
  z-index: 100;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 189, ../sass/style.scss */
.cardContainerY .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 10;
}
/* line 194, ../sass/style.scss */
.cardContainerY .card {
  z-index: 1;
  background: white;
}
/* line 197, ../sass/style.scss */
.cardContainerY .card.clubs, .cardContainerY .card.spades {
  color: black;
}
/* line 200, ../sass/style.scss */
.cardContainerY .card.diams, .cardContainerY .card.hearts {
  color: red;
}
/* line 204, ../sass/style.scss */
.cardContainerY .card .number {
  font-size: 4em;
  position: absolute;
  text-transform: uppercase;
}
/* line 209, ../sass/style.scss */
.cardContainerY .card .number:nth-of-type(1) {
  top: 5px;
  left: 20px;
}
/* line 213, ../sass/style.scss */
.cardContainerY .card .number:nth-of-type(2) {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: 5px;
  right: 20px;
}
/* line 220, ../sass/style.scss */
.cardContainerY .card .name {
  font-size: 4em;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 500px;
}
/* line 231, ../sass/style.scss */
.cardContainerY .card .suit {
  position: absolute;
  font-size: 8em;
}
/* line 235, ../sass/style.scss */
.cardContainerY .card .suit.spot1, .cardContainerY .card .suit.spot2, .cardContainerY .card .suit.spot3 {
  top: 50px;
}
/* line 238, ../sass/style.scss */
.cardContainerY .card .suit.spot4, .cardContainerY .card .suit.spot5, .cardContainerY .card .suit.spot6 {
  top: 0;
  line-height: 500px;
}
/* line 243, ../sass/style.scss */
.cardContainerY .card .suit.spot7, .cardContainerY .card .suit.spot8, .cardContainerY .card .suit.spot9 {
  bottom: 50px;
}
/* line 247, ../sass/style.scss */
.cardContainerY .card .suit.spot1, .cardContainerY .card .suit.spot4, .cardContainerY .card .suit.spot7 {
  left: 40px;
}
/* line 250, ../sass/style.scss */
.cardContainerY .card .suit.spot2, .cardContainerY .card .suit.spot5, .cardContainerY .card .suit.spot8, .cardContainerY .card .suit.spot10, .cardContainerY .card .suit.spot11 {
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 255, ../sass/style.scss */
.cardContainerY .card .suit.spot3, .cardContainerY .card .suit.spot6, .cardContainerY .card .suit.spot9 {
  right: 40px;
}
/* line 258, ../sass/style.scss */
.cardContainerY .card .suit.spot10 {
  top: 130px;
}
/* line 261, ../sass/style.scss */
.cardContainerY .card .suit.spot11 {
  bottom: 130px;
}
/* line 267, ../sass/style.scss */
.cardContainerY .card.one .suit {
  font-size: 15em;
}
/* line 272, ../sass/style.scss */
.cardContainerY .card.two .suit {
  font-size: 13em;
}
/* line 277, ../sass/style.scss */
.cardContainerY .card.three .suit, .cardContainerY .card.four .suit, .cardContainerY .card.five .suit, .cardContainerY .card.six .suit {
  font-size: 10em;
}

/* line 285, ../sass/style.scss */
#deal {
  font-size: 3em;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}
